footer {
	position: relative;
	color: #ddd;
	padding: 80px 16px;
	background-color: #1A1A21;
	/* background-color: #363838; */

	a {
		color: #fff;

		&:hover {
			color: #aaa;
			-o-transition: all .5s;
		    -moz-transition: all .5s;
		    -webkit-transition: all .5s;
		    -ms-transition: all .5s;
		}
	}

	ul {
		width: 100%;
		padding: 0;
		margin: 0 auto;

		li {
			list-style-type: none;
			float: left;
			
			&.additions {
				padding-right: 24px;
				margin-right: 24px;
				border-right: 1px solid #aaa;
			}

			a:hover {
				opacity: 0.5;
				-o-transition: all .5s;
			    -moz-transition: all .5s;
			    -webkit-transition: all .5s;
			    -ms-transition: all .5s;
			}

			img {
				width: 35px;
			}
		}
	}

	.footer-title {
		display: block;
		margin-top: 14px;
		font-family: 'Play', sans-serif;
		font-size: 2.2em;
		font-weight: bold;
		text-align: center;
	}

	> img {
		position: absolute;
		top: -172px;
		right: -80px;
	}

	@media only screen and (min-width: 360px) {
		ul {
			width: 348px;

			li {
				img {
					width: 50px;
				}
			}
		}

		.footer-title {
			font-size: 3em;
		}
	}

	@media only screen and (min-width: 768px) {
		padding: 80px 40px;

		ul {
			width: 388px;
			float: left;
			margin: 0;

			li {
				img {
					width: 60px;
				}
			}
		}

		.footer-title {
			float: right;
			margin-top: 0;
		}
	}
}